ignore-empty-password
image=@@HOME@@/.config/omarchy/current/background
effect-blur=7x5
font=JetBrainsMono Nerd Font
indicator-radius=100
indicator-thickness=10
inside-color=1a1b26cc
ring-color=a9b1d6ff
text-color=a9b1d6ff
key-hl-color=7aa2f7ff
